@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070e17;
  color: #e2e8f0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

code, .font-mono {
  font-family: 'JetBrains Mono', monospace;
}